body {text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:11px;}
td {font-family: Verdana, Geneva, Arial, helvetica, sans-serif;}
th {font-family: Verdana, Geneva, Arial, helvetica, sans-serif;}

h2{font-family:"Times New Roman", Times, serif;font-weight:200;font-size:32px;color:#808080}

.header{height:200px;}
.footer_main{height:200px;}